<script lang="tsx">
import {defineComponent} from '@vue/runtime-core';

export default defineComponent({
  name: 'Test',
  setup() {
    return () => (
      <>
        <div>Hello test</div>
      </>
    );
  },
});
</script>
