<script lang="tsx">
import {defineComponent} from 'vue';
import Button from 'ant-design-vue/lib/button';

export default defineComponent({
  name: 'Home',
  components: {
    Button,
  },
  setup() {
    //
    return () => (
      <>
        <div>All fucked up</div>
      </>
    );
  },
});
</script>
